body{
		margin:0;
		background-color: black;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
		


#dvImage{		
	position: relative;		
	height:100vh;
	width:auto;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    z-index: -1;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    );
}
#top{
	margin-top: -100vh;
}
/*weather text*/
.weather{
	list-style: none;
	color:white;
	text-shadow: 1px 1px 1px black;

}
#weather{
	float:right;
}
/*togler style*/
.togg-weather{
	text-shadow: 1px 1px 1px black;
	font-size: 2em;
	margin:6px 6px;
	float: right;
	color: white;
}
.togg-settings{
	text-shadow: 1px 1px 1px black;
	font-size: 2em;
    margin:6px 6px;
}
#togg-btn{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
/*Clock style*/
#clock{
	position: relative;
	text-align: center;
	font-size:13vh;
	margin-top: 13vh;
	color:white;
	z-index: 1;
	text-shadow: 1px 1px 1px black;
}
#buttons{
 	padding-left:32vh;
}
/*#777b79*/
#MainIcons{
	padding-right: 2px;
	font-size:3em; 
	color:white;
	text-shadow: 1px 1px 1px black;
	text-shadow: -1px -1px -1px black;
}
#MainIcons:hover{
	color:#777b79;

}

.btn-primary{
	background-color: transparent !important;	
	border-color: transparent;
}


.btn{
	display: initial;
	padding: 0 30px;
}

#changeAttr{
	padding-left:33%;
	padding-top:4px;
}
.ValInput,.form-control{
	width:auto;
	display:inline;
}
.insideIcon{
	width:25px;	
}	
.daydrop{
	display: inline-flex;
}
#timeInfo{
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px black;
	font-family: 'Ubuntu', sans-serif;
}
hr{
	width: 62em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
.quote{
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	font-family: 'Ubuntu', sans-serif;

}
#quote{
	margin-top: 34vh;
}
/*Styling modal*/
.modal-footer{
	border: none;
}
.form-control{
	padding: 7px;
	
	margin: 3px 0px;
	width:92%;

}
.btn-primary{
	padding: 0;
}
.modal-footer>:not(:last-child) {
    margin-right: -0.75rem;
 }
 .instalation{
 	margin-left: 14px;
 }